* {
box-sizing: border-box;
font-size: 10px;
background: #94b393;
}

body {
    margin: 0;
    text-align: center;
}
.temporizador {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.controles {
    display: flex;
}
 
.controles > * {
    flex: 1;
}
.controles form {
    flex: 1;
    display: flex;
}
.controles input {
    flex: 1;
    border: 0;
    padding: 2rem;
}
.button {
    background: none;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    background: rgba(0,0,0,0.1);
    padding: 1rem;
}
.button:hover,
.button:focus {
    background: rgba(0,0,0,0.2);
}

.display {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tiempoRestante {
  font-weight: 100;
  font-size: 20rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.05);
}
.tiempoFinal {
    font-size: 3rem;
    color: rgb(255, 255, 255);
}